a {
	color: Black;
	font-weight: bold;
	padding: 0px, 0px, 0px, 0px;
	text-decoration: none;
}

a:hover {
	color: Yellow;
	text-decoration: none;
}

a.forumlink{

	color: orange;
	text-decoration: underline;
	font-family: Arial;
	font-size: 9px;
	font-weight: bold;
}

body {

	background-color: #4E4E4E;
	font: 11px verdana, tahoma, arial, sans-serif;
	margin: 9px;
	text-align: left;
	
}

form {
	margin: 2px 0px 0px 0px;
	}

hr {
	border-bottom: #C6D6D6 1px solid;
	border-top: #006699 1px solid;
	height: 2px;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
}

p {
	margin-top: 0px;
}

td {
	color: Black;
	font: normal 9px verdana, tahoma, arial, sans-serif;
	font-weight: bold;
	padding: 0px, 0px, 0px, 0px;
	
}



.button{
	background: #3d3d3d;
	color: Orange;
	font: 9px verdana,arial,helvetica,sans-serif;
	text-align: center;
	heigth: 24;
	border: 1px solid Black;
}

.defaulttext {
	color: Black;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
}

.fborder, .fbdefault{
	
	background-color: #FEA338;
	border: 1px;
}
.checkbox{
	background-color: Black;
}
.fcaption, .fcdefault {
	font-size: 10px;
	font-weight: bold;
	color: orange;
	border: 1px solid black;
	background-color: #3d3d3d;
}

.fcaption2{
	border: 1px solid #589BB5;
	color: Black;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 2px;
	background-image: url(images/greenert.jpg);
	}

.finfobar{
	background-color: #3d3d3d;
	color: orange;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	border: thin dotted Black;
	}

.forumheader{
	color: orange;
	font: 10px verdana, tahoma, arial, helvetica, sans-serif;
	padding: 4px;
	border: 1px solid Black;
	background-color: #555555;
	text-align: left;
	
}

.forumheader2, .f2default{
	color: orange;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding: 4px;
	border: 1px solid Black;
	background-color: #6A6A6A;
}

.forumheader3, .f3default{
	background-color: #6A6A6A;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding: 4px;
	border: 1px solid Black;
	color: Black;
}
.helpbox {
	background-color: transparent;
	border: 0px none #FF0000;
	color: #000000;
	font: 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.hopla{
	background-image: url(images/laydown3.jpg);
}

.indent{
	background-color: #565656;
	border: 1px solid;
	border-bottom: #808080 1px solid;
	border-left: #151515 1px solid;
	border-right: #808080 1px solid;
	border-top: #151515 1px solid;
	color: #AAAAAA;
	font: 9px verdana, tahoma, arial, sans-serif;
	margin: 5px;
	padding: 2px;
}

.infobar{
	background-color: #589BB5;
	border-bottom: #CCCCCC 1px solid;
	border-left: 1px solid Black;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid Black;
	color: #000000;
	font: 9px tahoma, arial, verdana, helvetica, sans-serif;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
}

.laydown2{
	background-image: url(images/laydown2.jpg);
}

.siteli{
	color: Gray;
	text-align: left;
}

.logo{
	background-image: url(images/logo.JPG);
}

.mediumtext {
	color: Black;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
}





.newsshit{
	color: Black;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
	background-image: url(images/news/base.gif);
	width: 100%;
}

.nextprev{
	background-color: #303030;
	border: 1px solid #545454;
	color: #000000;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding: 2px;
	text-align: center;
}



.searchhighlight{
	color: #D0A700;
	font-weight: bold;
	text-decoration: underline;
}

select.tbox{
	background-color: #3d3d3d;
	color: orange;
}


.smallblacktext {
	color: Black;
	font: normal 9px tahoma, verdana, arial, helvetica, sans-serif;
}

.smalltext {
	color: Black;
	font: 9px verdana, tahoma, arial, helvetica, sans-serif;
	letter-spacing: -1px;
}

.spacer{
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.tbox{
	border-bottom-color: #545454;
	border-left-color: #545454;
	border-right-color: #545454;
	border-top-color: #545454;
	color: #FEA338;
	font: 9px verdana,arial,helvetica,sans-serif;
	text-indent: 2px;
	background-image: url(images/menu/bg.gif);
	border: 2px double Black;
	}





.topleft{
	background-image: url(images/blank.gif);
}

.topright{
	background-image: url(images/blank.gif);
}

.zopla{
	background-image: url(images/tripper.jpg);
	width: 100%;
}


.bighead{
	background-image: url(images/Header/bighead.gif);
}
.headsmall{
	background-image: url(images/Header/headsmall.gif);
}
.edithead{
	background-image: url(images/Header/edithead.gif);
	width: 100%;
	padding-bottom: 5px;
	color: Black;
}
.headend{
	background-image: url(images/Header/headend.gif);
}
.tole{
	background-image: url(images/menu/tole.gif);
}
.toed{
	background-image: url(images/menu/toed.gif);
	width: 100%;
	padding-top: 12px;
}
.tori{
	background-image: url(images/menu/tori.gif);
}
.otle{
	background-image: url(images/menu/otle.gif);
	
}
.oted{
	background-image: url(images/menu/oted.gif);
	width: 100%;
}
.otri{
	background-image: url(images/menu/otri.gif);
}
.leftt{
	background-image: url(images/menu/riht.gif);
	background-repeat: repeat-y;
	background-color: #3D3D3D;
}
.rightt{
	background-image: url(images/menu/lefht.gif);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #3D3D3D;
}
.menunew{
	background-color: #3D3D3D;
	
	}
.menurit{
	background-color: #3D3D3D;
	
	}
.bodytable {
	color: Black;
	font: normal 11px verdana, tahoma, arial, helvetica, sans-serif;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	
	background-color: #3d3d3d;
	text-align: center;
	
	}
	.mmid{
	background-repeat: repeat-y;
	background-color: #FEA338;
	width: 100%;
	color: Black;
}
.bluer{
	background-color: #3d3d3d;
	
	
}
.down{
	background-image: url(images/menu/down.gif);
}


.libo{
	background-image: url(images/news/libo.gif);
}
.bo{
	background-repeat: repeat-x;
	background-image: url(images/news/bo.gif);
	width: 100%;
}
.rebo{
	background-image: url(images/news/rebo.gif);
}
.sile{
	background-image: url(images/news/sile.gif);
	
}
.sire{
	background-image: url(images/news/sire.gif);
}
.titbar{
	width: 100%;
	background-image: url(images/news/base.gif);
}
.bole{
	background-image: url(images/news/bole.gif);
}
.bene{
	background-image: url(images/news/bene.gif);
	width: 100%;
}
.bore{
	background-image: url(images/news/bore.gif);
}
.tile{
	background-color: #FEA338;
}
.wastel{
	background-image: url(images/menu/wastel.gif);
	
}
.wastrep{
	background-image: url(images/menu/wastrep.gif);
	font-size: 9px;
	font-weight: bold;
	color: Black;
	width: 100%;
}
.waster{
	background-image: url(images/menu/waster.gif);
}
.mtex{
	text-align: center;
}

.siwri {
	color: Black;
	font: normal 9px verdana, tahoma, arial, helvetica, sans-serif;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	width: 100%;
	background-image: url(images/news/base.gif);
	}
.mole{
	background-image: url(images/menu/mole.gif);
}
.mori{
	background-image: url(images/menu/mori.gif);
}
.morep{
	background-image: url(images/menu/morep.gif);
	background-repeat: repeat-x;
	width: 100%;
}

#Clock{
	font-size: 10px;
	color: #333333;
	}
#chatbox{
		color: Silver;
		text-align: center;
}
